@page "/"

<header>
		<div >
			<p align="middle">Магазин гитар ручной работы в Москве и Санкт-Питербурге</p>
			<center><img src="Musiker logo bw.png"  width="40%" height="=40%" align="cover"></center>
		</div>
		<br>
		<br>
		<br>
		<table border="1" align="center">
			<tr>
				<td><a href="Musicer_c.html"><p>КОНТАКТЫ</p></a></td>
				<td><a href="Musicer_oo.html"><p>ОНЛАЙН ЗАКАЗ</p></a></td>
				<td><a href="Musicer_r.html"><p>ВОЗВРАТ</p></a></td>
			</tr>
		</table>
	</header>
	<table border="1" align="center" cellspacing="20" frame="void">
		<tr>
			<td>
				<div class="divtable">
					<img src="guitar1.jpg" height="500px" width="157px">
				</div>
			</td>
			<td>
				<div class="divtable">
					<center><img src="guitar2.jpg" height="500px" width="157px"></center>
				</div>
			</td>
			<td>
				<div class="divtable">
					<center><img src="guitar3.jpg" height="500px" width="157px"></center>
				</div>
			</td>
		</tr>
				<tr>
			<td>
				<div class="divtable">
					<center><img src="guitar4.jpg" height="500px" width="157px"></center>
				</div>
			</td>
			<td>
				<div class="divtable">
					<center><img src="guitar5.jpg" height="500px" width="157px"></center>
				</div>
			</td>
			<td>
				<div class="divtable">
					<center><img src="guitar6.jpg" height="500px" width="157px"></center>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="divtable">
					<center><img src="guitar7.jpg" height="500px" width="157px"></center>
				</div>
			</td>
			<td>
				<div class="divtable">
					<center><img src="https://lh3.googleusercontent.com/6MmVl3TEiBeEJCFIIfzO5DIgengYGPCdhEe8M6lXA6_Eh_xsKHDL_K4CLC31dETfiCue1hFOEf30IkIqlbOStvTfYbY_G85oEtJHQqjgz6OSXco8Aw=w0-l80-sg-rj-c0xffffff" height="500px" width="157px"></center>
				</div>
			</td>
			<td>
				<div class="divtable">
					<center><img src="guitar9.jpg" height="500px" width="157px"></center>
				</div>
			</td>
		</tr>
		<tr>
			<td>
				<div class="divtable">
					<center><img src="guitar10.jpg" height="500px" width="157px"></center>
				</div>
			</td>
			<td>
				<div class="divtable">
					<center><img src="guitar11.jpg" height="500px" width="157px"></center>
				</div>
			</td>
			<td>
				<div class="divtable">
					<center><img src="guitar12.jpg" height="500px" width="157px"></center>
				</div>
			</td>
		</tr>

</table>
